<nav class="navbar-toggleable fixed-top navbar navbar-inverse bg-primary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            ria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" [routerLink]="['/welcome']" [innerHTML]="appName"></a>
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of navItems" [ngClass]="{active: item.active}">
          <a class="nav-link" [routerLink]="[item.href]">{{item.label}}</a>
        </li>
      </ul>
      <db-cart-menu></db-cart-menu>
    </div>
  </div>
</nav>
